{% extends 'base.html.twig' %}

{% block title %}Add Institution{% endblock %}

{% block body %}
    <h1>Add an Institution</h1>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.text) }}
    {{ form_row(form.policyTheme) }}
    {{ form_end(form) }}
{% endblock %}