{% extends 'base.html.twig' %}

{% block title %}Add Question{% endblock %}

{% block body %}
    <h1>Add a Question</h1>
    {{ form_start(form) }}
    {{ form_row(form.hum) }}
    {{ form_row(form.language) }}
    {{ form_row(form.text) }}
    {{ form_end(form) }}
{% endblock %}