{% extends 'base.html.twig' %}

{% block title %}Hum{% endblock %}

{% block body %}

    <div class="form-wrapper">
        <h1>Hum Overview</h1>
        <ul>
            {% for hum in hums %}
                <li>
                    <h2>{{ hum.policy ~ ' : ' ~ hum.date|date }}</h2>
                    <div class="foldable">
                        <h3 class="fold-action">Description</h3>
                        <div class="fold-content">
                            <p>Theme: {{ hum.policy.policyTheme }}</p>
                            <p>Policy <a href="{{ path("policy_edit", {policy: hum.policy.id}) }}">{{ hum.policy }}</a></p>
                            <p><a class="button" href="{{ path("hum_edit", {hum: hum.id}) }}">Edit Hum</a></p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>


    </div>
{% endblock %}
