{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}


<article class="news-post">
    <h1>{{ title }}</h1>
    <time>{{ publish_date|date("d/m/Y") }}</time>
    <div>{{ text|raw }}</div>
    <p><a href="{{ path("news_edit", {slug: blogPost.slug}) }}">Edit</a></p>
    <p>
        {% if blogPost.isReleasable %}
            Approved
        {% else %}
            Pending
        {% endif %}
        <a href="{{ path("news_release", {slug: blogPost.slug}) }}">Update status</a>
    </p>
</article>
{% endblock %}
