{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

<nav>
    <div id="main-nav">
        <div id="start"><a href="{{ path('start') }}">Start</a></div>
        <div id="posts"><a href="{{ path('news') }}">News</a></div>
        <div id="posts"><a href="{{ path('hum') }}">Hum</a></div>
        <div id="themes"><a href="{{ path('theme') }}">Policy Theme</a></div>
        <div id="policy"><a href="{{ path('policy') }}">Policy</a></div>
        <div id="argument"><a href="{{ path('argument') }}">Argument</a></div>
        <div id="institution"><a href="{{ path('institution') }}">Institution</a></div>
        <div id="logout"><a href="{{ path('app_logout', {page: 1}) }}">Logout</a></div>
    </div>
    <div id="sub-nav">
        {% if '/news' in currentPath %}
            <div id="add-news"><a href="{{ path('news_add') }}">Add news</a></div>
        {% elseif '/theme' in currentPath %}
            <div id="add-theme"><a href="{{ path('theme_add') }}">Add theme</a></div>
        {% elseif '/institution' in currentPath %}
            <div id="add-institution"><a href="{{ path('institution_add') }}">Add institution</a></div>
        {% elseif '/policy' in currentPath %}
            <div id="add-policy"><a href="{{ path('policy_add') }}">Add policy</a></div>
        {% elseif '/argument' in currentPath %}
            <div id="add-argument"><a href="{{ path('argument_add') }}">Add argument</a></div>
        {% elseif '/hum' in currentPath %}
            <div id="add-hum"><a href="{{ path('hum_add') }}">Add hum</a></div>
        {% endif %}
    </div>
</nav>