<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hum Admin - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}
    </head>
    <body>
    <header>
        <div id="logo">
            <a href="{{ path('start') }}">
                <img id="logo-image" src="{{ asset('images/hum-logo.svg') }}" alt="Logo for Hum, a bumblebee in flight">
                <div id="logo-text-container">
                    <p id="logo-text">Hum</p>
                    <p id="logo-description">Policies made easy</p>
                </div>
            </a>
        </div>
        {% if app.user %}
            {% include "util/_admin_nav.html.twig" %}
        {% else %}
            {% include "util/_nav.html.twig" %}
        {% endif %}
    </header>
    {% for message in app.flashes('success') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    <div id="content">
        {% block body %}{% endblock %}
    </div>
    <footer>
        <a href="mailto:anders@femtearenan.se">anders@femtearenan.se</a>
    </footer>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

        <!-- Renders app.js & a webpack runtime.js file
            <script src="/build/runtime.js"></script>
            <script src="/build/app.js"></script> -->
    {% endblock %}
    </body>
</html>
