{% extends 'base.html.twig' %}

{% block title %}Add Argument{% endblock %}

{% block body %}
    <h1>Add an argument</h1>
    {% if policy is defined %}
        <p>Add argument for policy: {{ policy }}</p>
    {% endif %}
    {{ form_start(form) }}
    {{ form_row(form.side) }}
    {{ form_row(form.text) }}
    {{ form_row(form.parent) }}
    {{ form_row(form.language) }}
    {{ form_end(form) }}
    {% if argument.id is not empty %}
        <a href="{{ path('argument_add_child', {argument: argument.id}) }}">Add child</a>
    {% endif %}
{% endblock %}
